asgiref==3.2.10
autopep8==1.5.3
Django==3.0.14
logilab-astng==0.24.3
logilab-common==1.7.2
mypy-extensions==0.4.3
Pillow==7.2.0
pycodestyle==2.6.0
pylint==0.28.0
pytz==2020.1
sqlparse==0.3.1
toml==0.10.1
typing-extensions==3.7.4.2
